<template>
  <div>
    <h1 class="text-3xl text-green-600 flex justify-center my-10">Configurações Pessoais 👤 </h1>

    <div class="font-dosis pt-10 flex justify-center py-3 center mx-auto">
      <div class="bg-yellow-100 px-4 py-5 border rounded border-green-300 rounded-lg shadow-lg text-center w-48">
        
        <div class="mb-4"
             v-if="profile_photo_url">
          <img class="mx-auto object-cover object-center" 
                :src="profile_photo_url"
                alt="Avatar Upload"
                width="100%"
                height="100%" />
          <label>
            <button @click="removeImage" class="mt-2 text-base leading-normal px-4 py-2 bg-green-500 text-white text-sm rounded-full hover:bg-green-600">Remover foto</button>
          </label>
        </div>

        <label v-else class="cursor-pointer mt-6">
          <span class="mt-2 text-base leading-normal px-4 py-2 bg-green-500 text-white text-sm rounded-full hover:bg-green-600">Selecione foto</span>
          <input type="file" @change="onFileChange" class="hidden" />
        </label>
        
      </div>
    </div>
          <form class="flex justify-center pt-10" @submit.prevent="login">
            <button 
              class="text-lg text-white boder rounded-md py-2 px-4 text-sm tracking-wide bg-blue-500"
              type="submit">
               Entrar com o twitter<span><i class="fab fa-twitter pl-5"></i> </span> </button>
          </form>
    <!-- component -->
    <div class=" flex font-dosis my-16  ">
      <div class=" bg-yellow-100 border rounded border-green-300 rounded-lg shadow-lg justify-center mx-auto">
        <div class="inputs w-full max-w-2xl p-6 mx-auto">
          <h2 class="text-2xl text-green-500">Configurações da conta</h2>
          <form class="mt-6 border-t border-gray-400 pt-4">
            <div class='flex flex-wrap -mx-3 mb-6'>
              <div class='w-full md:w-full px-3 mb-6'>
                <label class='block uppercase tracking-wide text-green-600 text-xs font-bold mb-2' for='grid-text-1'>Endereço de email</label>
                <input class='appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none focus:border-gray-500'
                id='grid-text-1' 
                placeholder='Insira um email'
                type='text'
                v-model="email"
                required>

              </div>

              <div class="personal w-full border-t border-gray-400 pt-4">
                <h2 class="text-2xl text-green-500">Informações pessoais</h2>
                <div class="flex items-center justify-between mt-4">
                  <div class='w-full md:w-1/2 px-3 mb-6'>
                    <label class='block uppercase tracking-wide text-green-600 text-xs font-bold mb-2' >Nome completo</label>
                    <input class='appearance-none block w-full bg-white text-green-600 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none focus:border-gray-500' 
                    type='text'
                    v-model="name"
                    required>
                  </div>
                </div>
                <div class='w-full md:w-full px-3 mb-6'>
                  <label class='block uppercase tracking-wide text-green-600 text-xs font-bold mb-2' >Adorariamos saber um pouco sobre você... 😊 </label>
                  <textarea class='bg-gray-100 rounded-md border leading-normal resize-none w-full h-20 py-2 px-3 shadow-inner border border-gray-400 font-medium placeholder-gray-700 focus:outline-none focus:bg-white'
                  v-model="obs"></textarea>
                </div>
                <div class="flex justify-end">
                  <button class="appearance-none bg-green-500 text-white px-2 py-1 shadow-sm border border-gray-400 rounded-md mr-3 hover:bg-green-600" 
                  type="button"
                  @click="saveData">Salvar mudanças</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <Footer/>
  </div>

</template>

<script>
  import Footer from "@/views/Footer.vue";
  import axios from 'axios';
  import Api from '@/Api';

  export default {
    name: "Configuration",
    components: {
      Footer
    },
    data() {
      return {
        loaded: false,
        id: "",
        name: "",
        email: "",
        profile_photo_path: "",
        profile_photo_url: '',
        obs: "",
      }
    },
    computed:{
      profile_src(){
        return this.profile_photo_url || 'https://cdn.dribbble.com/users/2159400/screenshots/8290728/facerecognite_iconanimation.gif'
      }
    },
    methods:{

      // async login() {

      //   try {
          
      //     let access_token = ""
      //     let screen_name = ""
      //     let thumbnail = ""
      //     let fullName = ""
      //     if(process.env.NODE_ENV === 'production') {
      //       const twitter = this.hello('twitter')
      //       const authResponse = await twitter.login()
          
      //       access_token = authResponse.access_token

      //       // Twitter login
      //       const profile = await twitter.api('me')  
      //       this.profile = profile
      //       screen_name = profile.screen_name
      //       thumbnail = profile.thumbnail
      //     }
          
      //     const response = await this.$http.post('register', {
      //       name: fullName,
      //       screen_name: screen_name,
      //       thumbnail: thumbnail,
      //       access_token: access_token
      //     })

      //     this.response = response.data
          
      //     if(this.response){
      //       this.$root.$options.$auth.login(this.response.user)
      //       this.$router.push('dashboard')
      //       this.$emit('onLoggedSuccess')
      //     }

      //   } catch (error) {
      //     this.$root.$options.$auth.logout()
      //     this.error = true
      //       console.log(error)
      //     this.$emit('onLoggedFail')
      //   }

      // }, 

      async fillData() {

        try {
          const response = await axios.get('/user/1')
          const { data } = response
          const { id, name, email, profile_photo_path, profile_photo_url, obs, } = data
          this.id = id
          this.name = name
          this.email = email
          this.profile_photo_path = profile_photo_path
          this.profile_photo_url = profile_photo_url
          this.obs = obs

          this.loaded = true
        } catch (e) {
          console.error(e)
        }
      },

      onFileChange(e) {
        var files = e.target.files || e.dataTransfer.files;
        if (!files.length)
          return;
        this.createImage(files[0]);
      },
      createImage(file) {
        var image = new Image();
        var reader = new FileReader();
        var vm = this;

        reader.onload = (e) => {
          vm.profile_photo_url = e.target.result;
        };
        reader.readAsDataURL(file);
      },
      removeImage: function (e) {
        this.profile_photo_url = '';
      },
      async saveData() {
        try {
          const payload = {
            name: this.name,
            email: this.email,
            obs: this.obs,
            // profile_photo_path: this.profile_photo_path,
            profile_photo_url: this.profile_photo_url,
          }
          const response = await Api.put('/user/1', { 
            payload,
            multipart: true
          })

          // const { data } = response
          const { id, name, email, profile_photo_path, profile_photo_url, obs, } = response
          this.id = id
          this.name = name
          this.email = email
          this.profile_photo_path = profile_photo_path
          this.profile_photo_url = profile_photo_url
          this.obs = obs

          console.log('updated')
          this.loaded = true
        } catch (e) {
          console.error(e)
        }
      }
    },
    mounted () {
      this.fillData();
    },
  }
</script>