<template>
  <div>
    <h1 class=" flex-wrap text-3xl text-green-600 flex justify-center my-10">Olá, sou a Planta {{ name }} #{{ id }} <img class=" mx-5 h-10 w-10" src="plant_spark.gif"></h1>
    
    <div class="pt-5 bg-green-100 bg-opacity-50 leading-normal tracking-normal">
      <span @click="fillData()">UPDATE</span>
      <div class="flex-col leading-normal tracking-normal">
        <div class="flex flex-wrap">
         <div class="w-full md:w-1/2 xl:w-1/3 p-3">
          <!--Metric Card-->
          <div class="bg-yellow-100 border border-green-300 rounded shadow p-2">
           <div class="flex flex-row items-center">
            <div class="flex-shrink pr-4">
             <div class="rounded p-3 bg-blue-600"><img class=" pt-1 h-auto w-16 animate-bounce" src="water_drop.png"/></div>
           </div>
           <div class="flex-1 text-right md:text-center">

             <h5 class="uppercase text-green-500">Umidade</h5>
             <div class="flex flex-row text-3xl text-gray-600">
              <div class="flex flex-col m-auto">
                {{ board.humidity }}%
                <small class="text-sm text-gray-600"></small>
              </div>
              <span class="text-green-500"><i class="fas fa-caret-up"></i></span>
            </div>

           </div>
         </div>
       </div>
       <!--/Metric Card-->
     </div>
     <div class="w-full md:w-1/2 xl:w-1/3 p-3">
      <!--Metric Card-->
      <div class="bg-yellow-100 border border-green-300 rounded shadow p-2">
       <div class="flex flex-row items-center">
        <div class="flex-shrink pr-4">
         <div class="rounded p-3 bg-orange-600"><img class=" h-auto w-16" src="sun.gif"/></div>
       </div>
       <div class="flex-1 text-right md:text-center">
         <h5 class="uppercase text-green-500">Temperatura do dia</h5>
         <h3 class="text-3xl text-gray-600">25 °C </h3>
       </div>
     </div>
   </div>
   <!--/Metric Card-->
 </div>
 <div class="w-full md:w-1/2 xl:w-1/3 p-3">
  <!--Metric Card-->
  <div class="bg-yellow-100 border border-green-300 rounded shadow p-2">
   <div class="flex flex-row items-center">
    <div class="flex-shrink pr-4">
     <div class="rounded p-3 bg-gray-500"><img class="animate-spin h-auto w-16" src="gear.png"/></div>
   </div>
   <div class="flex-1 text-right md:text-center">
     <h5 class="uppercase text-green-500">Rega por dia</h5>
     <div class="flex flex-row text-3xl text-gray-600">
      <div class="flex flex-col m-auto">
        {{ Number((24*60)/next_run_in_minutes).toFixed(0) }}x p/ dia.
        <small class="text-sm text-gray-600">{{ next_run_in_minutes }} minutos</small>
      </div>
      <span class="text-green-500"><i class="fas fa-caret-up"></i></span>
    </div>
   </div>
 </div>
</div>
<!--/Metric Card-->
</div>
<div class="w-full md:w-1/2 xl:w-1/3 p-3">
  <!--/Metric Card-->
</div>
<div class="w-full md:w-1/2 xl:w-1/3 p-3">
  <!--Metric Card-->

</div>
</div>
<!-- Graph -->
<div class="w-full">

  <div class="bg-yellow-100 border rounded border-green-300 rounded-lg shadow-lg">
    <h5 class="p-10 text-3xl text-green-500">Últimas metricas</h5>
    <div class="p-5">
      <div class="w-full sm:max-w-md md:max-w-full xl:max-w-full">
        <Charts v-if="loaded"
        :chart-data="indicatorCollection"
        :height="150"
        :options="chartOptions" />
      </div>

    </div>
  </div>

</div>
</div>

</div>
<Footer />
</div>
</template>

<script>
  import Footer from "@/views/Footer.vue";
  import Charts from "@/components/Charts.vue";
  import Indicators from "@/components/Indicators.vue";
  import axios from 'axios';
  import dayjs from "dayjs"
  import 'dayjs/locale/pt-br'
  dayjs.locale('pt-br')

  export default {
    name: "Dashboard",
    components: {
      Footer,
      Charts,
      Indicators
    },
  data() {
    return {
      loaded: false,
      board: {
        bomba: 0,
        humidity: 0,
        manualHumidity: "dry",
        solenoide: 0,
      },
      id: "",
      name: "",
      hostname: "",
      license: "",
      last_ran_at: "",
      next_run_in_minutes: 0,
      indicatorCollection: {},
      chartOptions: {
        responsive: true,
        maintainAspectRatio: true,
        animation: {
          easing: 'easeInOutQuad',
          duration: 900
        },
        scales: {
          xAxes: [{
            gridLines: {
              color: 'rgba(200, 200, 200, 0.05)',
              lineWidth: 1
            },
            type: 'time',
            ticks: {
                autoSkip: true,
                maxTicksLimit: 20,
            }
          }],
          yAxes: [{
            gridLines: {
              color: 'rgba(200, 200, 200, 0.08)',
              lineWidth: 1
            }
          }]
        },
        elements: {
          line: {
            tension: 0.4
          }
        },
        legend: {
          display: true
        },
        point: {
          backgroundColor: 'white',
        },
        tooltips: {
          displayColors: false,
          titleFontFamily: 'Paralucent',
          backgroundColor: 'rgba(0,0,0,0.7)',
          titleFontColor: '#27DABC',
          titleFontSize: 15,
          bodyFontColor: 'white',
          bodyFontSize: 14,
          // footerFontColor: '',
          caretSize: 5,
          cornerRadius: 2,
          xPadding: 18,
          yPadding: 18
        }
      },
      gradient: null
    }
  },
  methods:{
    getRandomInt () {
      return Math.floor(Math.random() * (50 - 5 + 1)) + 5
    },
    // computed: {
      // indicatorData(neededType = "humidity") {
      //   return this.data.indicators.map(item => {
      //       return item.type == neededType
      //   })
      // }
    // },
    async fillData() {
      // const payload = {}
      // let token = this.$cookies.get('api_token')

      try {
        const response = await axios.get('/plant/1', 
          // payload, {
          //   // headers: { Authorization: `Bearer ${token}` }
          // }
          )

        const { data } = response
        const { id, name, hostname, license, last_ran_at, next_run_in_minutes, indicators, board } = data
        this.id = id
        this.name = name
        this.hostname = hostname
        this.board = board
        this.license = license
        this.last_ran_at = last_ran_at
        this.next_run_in_minutes = next_run_in_minutes

        const defaultColor = 'green'
        this.indicatorCollection = {
          labels: indicators.filter(item => "humidity" === item.type).map(item => dayjs(item.created_at).format("M/D/YYYY h:mm A")),
          datasets: [
            {
              label: 'Umidade',
              backgroundColor: 'rgba(139, 205, 205, 0.5)',
              data: indicators.filter(item => "humidity" === item.type)
                              .map(item => item.value),

              pointBackgroundColor: 'white', 
              pointBorderColor: "rgba(0, 114, 139, 1)", 
              pointHitRadius: 7,
              pointRadius: 3,
              borderWidth: 2,
              fill: true,
              borderColor: "rgba(0, 114, 139, 1)",
            },
            {
              label: 'Temperatura do dia',
              backgroundColor: 'rgba(255, 126, 0, 0.5)',
              data: indicators.filter(item => "temperature" === item.type)
                              .map(item => item.value),

              pointBackgroundColor: 'white', 
              pointBorderColor: "rgba(255, 126, 0, 1)", 
              pointHitRadius: 7,
              pointRadius: 3,
              borderWidth: 2,
              fill: true,
              borderColor: "rgba(255, 126, 0, 1)",
            },
            {
              label: 'Regas p/dia',
              backgroundColor: 'rgb(90, 80, 20, 0.5)',
              data: indicators.filter(item => "other" === item.type)
                              .map(item => item.value),

              pointBackgroundColor: 'white', 
              pointBorderColor: "rgb(90, 80, 20, 1)", 
              pointHitRadius: 7,
              pointRadius: 3,
              borderWidth: 2,
              fill: true,
              borderColor: "rgb(90, 80, 20, 1)",
            }
          ]
        }

        this.loaded = true
      } catch (e) {
        console.error(e)
      }
    }
  },
  mounted () {
    this.fillData();
  },
}
</script>
