 <template>

  <div  class="bg-green-100 shadow leading-normal tracking-normal pt-10">
<footer class="bg-green-600 border-t border-green-200 shadow">  
    <div class="container max-w-md mx-auto flex py-8">

      <div class="w-full mx-auto flex flex-wrap justify-center">
        <div class="flex w-full md:w-2/4 ">
          <div class="">
            <h3 class="text-md text-yellow-200">© 2020 Vaso inteligente E-C0.</h3>
            <p class="py-4 text-green-300 text-md">
              Automação de irrigação com foco no plantio.
            </p>
          </div>
        </div>



        <div class="flex w-full md:w-1/2 justify-center">
          <div class="px-8">
            <h3 class="font-bold text-yellow-200 text-lg">Sobre</h3>
            <ul class="list-reset items-center text-md pt-3">
              <li>
                <a class="inline-block text-green-300 no-underline hover:text-yellow-200 hover:text-underline hover:font-bold  py-1" href="#">O projeto</a>
              </li> 
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center pt-10 pb-10 text-bold text-md text-green-300">
    <p> Feito com ❤️ para um <span class="animate-bounce"> 🌎 </span> melhor. </p> <span class="text-sm"> <a href="humans.txt">@Equipe</a> </span>
  </div>
  </footer>
</div>
</template>