<template>
<nav class="mx-auto bg-yellow-100 w-full z-10 top-0 shadow flex flex-col">

      <div class="w-full container mx-auto flex flex-wrap items-center mt-0 pt-3 pb-3 md:pb-0">

      <div class="w-1/2 pl-2 md:pl-0">
        <router-link class="text-green-700 text-base xl:text-xl no-underline hover:no-underline font-bold flex"
                      to="/dashboard">
            <img class="h-10 w-10" src="plant.png">
            <span class="pt-2">E-C0<span class="flex rounded-full bg-green-700 uppercase mx-2 px-2 py-1 text-xs font-bold mr-3 leading-none lg:rounded-full flex inline-flex text-yellow-100">1.0 </span></span>
        </router-link>        
      <p class="text-sm pl-10 -mt-2 leading-loose tracking-wider font-thin text-green-500">O vaso inteligente</p>
    </div>
      <div class="w-1/2 flex flex-col items-end pb-1 pr-2 pt-0">
        <div class="flex flex-row">

          <div class="relative text-sm text-green-500 flex flex-row">
            <button class="flex items-center focus:outline-none mr-3"
                    @click="showMenu2 = !showMenu2">
              <img class="w-8 h-8 rounded-full mr-4" :src="loggedUser.profile_photo_url" alt="Avatar"> <span class="hidden md:inline-block text-green-600 hover:text-green-500">Olá {{ loggedUser.name }}</span>
              <svg class="pl-2 h-2 fill-current text-green-600" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129"><g><path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/></g></svg>
            </button>
            <div 
              v-if="showMenu2"
              class=" flex justify-center bg-yellow-100 rounded shadow-md mt-2 absolute mt-12 top-0 right-0 min-w-full overflow-auto z-30 shadow-md">
              <ul class="list-reset">
                <li class="pb-1 pt-1"><router-link to="/selectVase" class="px-4 py-2 block text-green-600 hover:bg-green-200 no-underline hover:no-underline rounded flex flex-wrap">Trocar ou adicionar vaso</router-link></li>
                <li class="pb-1 pt-1"><router-link to="/configurations" class="px-4 py-2 block text-green-600 hover:bg-green-200 no-underline hover:no-underline rounded">Configurações</router-link></li>
                <li class="pb-1 pt-1"><router-link to="/records" class="px-4 py-2 block text-green-600  hover:bg-green-200 no-underline hover:no-underline rounded">Histórico</router-link></li>
                <li class="pb-2 pt-2"><hr class="border-t mx-2 border-green-400 "></li>
                <li class="pb-2 pt-2">
                  <router-link to="/"
                    class="px-4 py-2 block text-green-600 hover:bg-green-200 no-underline hover:no-underline rounded">
                      Sair</router-link>
                </li>
              </ul>
            </div>
          </div>

          <div class="block pr-4">
            <button @click="showMenu = !showMenu" class="flex items-center px-3 py-2 border rounded text-green-600 border-green-600 hover:text-green-500 hover:border-green-500 appearance-none focus:outline-none">
              <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div v-if="showMenu" class="pl-2 w-full flex-grow lg:flex lg:items-center lg:w-auto lg:block mt-2 lg:mt-0 bg-green-500 z-20 shadow-md">
      <ul class="list-reset lg:flex flex-1 items-center px-4 md:px-0">
        <li class="mr-6 my-2 md:my-0">
          <router-link to="/dashboard" class="block py-1 md:py-3 pl-1 align-middle text-green-200 no-underline hover:text-yellow-100 border-b-2 border-green-200 hover:border-yellow-100">
            <span class="pb-1 md:pb-0 text-sm"><i class="fa fa-leaf fa-fw mr-3"></i> Dashboard </span>
          </router-link>
        </li>

        <li class="mr-6 my-2 md:my-0">
          <router-link to="/images" class="block py-1 md:py-3 pl-1 align-middle text-green-200 no-underline hover:text-yellow-100 border-b-2 border-green-200  hover:border-yellow-100">
           <i class="fa fa-image fa-fw mr-3"></i><span class="pb-1 md:pb-0 text-sm">Imagens </span>
         </router-link>
        </li>

        <li class="mr-6 my-2 md:my-0">
          <router-link to="/records" class="block py-1 md:py-3 pl-1 align-middle text-green-200 no-underline hover:text-yellow-100 border-b-2 border-green-200  hover:border-yellow-100">
             <span class="pb-1 md:pb-0 text-sm"><i class="fa fa-eye fa-fw mr-3"></i> Histórico de Atividades </span>
           </router-link>
        </li>

        <li class="mr-6 my-2 md:my-0">
          <router-link to="/plantConfig" class="block py-1 md:py-3 pl-1 align-middle text-green-200 no-underline hover:text-yellow-100 border-b-2 border-green-200  hover:border-yellow-100">
            <i class="fa fa-cog fa-fw mr-3"></i><span class="pb-1 md:pb-0 text-sm">Configurações da Planta </span>
          </router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
  export default {
    name: "Header",
    props: {
      loggedUser: Object,
      default: {
        name: "Visitante"
      }
    },
    data() {
      return {
        showMenu: true,
        showMenu2: false
      }
    }
  }
</script>