<template>
  <div>
    <h1 class="text-3xl text-green-600 flex justify-center my-10">Galeria 📷 </h1>

    <div class="mx-auto max-w-2xl">
      <div class="shadow-2xl relative ">
        <!-- large image on slides -->
        <div class="mySlides hidden">
          <div class="image1 w-full object-cover">
            <img src="photo_1.jpeg" />
          </div>
        </div>
        <div class="mySlides hidden">
          <div class="w-full object-cover">
            <img src="photo_2.jpeg" />
          </div>
        </div>
        <div class="mySlides hidden">
          <div class="w-full object-cover">
            <img src="photo_3.jpeg" />
          </div>
        </div>
        <div class="mySlides hidden">
          <div class="w-full object-cover">
            <img src="photo_4.jpeg" />
          </div>
        </div>
        <div class="mySlides hidden">
          <div class="w-full object-cover">
            <img src="photo_5.jpeg" />
          </div>
        </div>

        <!-- butttons -->
        <a class="absolute left-0 inset-y-0 flex items-center -mt-32 px-4 text-white hover:text-green-500 cursor-pointer text-3xl font-extrabold" @click="plusSlides(-1)">❮</a>
        <a class="absolute right-0 inset-y-0 flex items-center -mt-32 px-4 text-white hover:text-green-500 cursor-pointer text-3xl font-extrabold" @click="plusSlides(1)">❯</a>

        <!-- image description -->
        <div class="text-center  text-xl text-green-200 font-light tracking-wider bg-green-500 py-2">
          <p id="caption"></p>
        </div>

        <!-- smaller images under description -->
        <div class="flex mb-20">
          <div>
            <img src="photo_1.jpeg" class="description h-24 opacity-50 hover:opacity-100 cursor-pointer" @click="currentSlide(1)" alt="12/03/2020">
          </div>
          <div>
            <img src="photo_2.jpeg" class="description h-24 opacity-50 hover:opacity-100 cursor-pointer" @click="currentSlide(2)" alt="12/05/2020">
          </div>
          <div>
            <img src="photo_3.jpeg" class="description h-24 opacity-50 hover:opacity-100 cursor-pointer" @click="currentSlide(3)" alt="25/10/2020">
          </div>
          <div>
            <img src="photo_4.jpeg" class="description h-24 opacity-50 hover:opacity-100 cursor-pointer" @click="currentSlide(4)" alt="11/11/2020">
          </div>
          <div>
            <img src="photo_5.jpeg" class="description h-24 opacity-50 hover:opacity-100 cursor-pointer" @click="currentSlide(5)" alt="05/11/2020">
          </div>
        </div>
      </div>
    </div>
    <Footer/>
  </div>
</template>


<script>
  import Footer from "@/views/Footer.vue";

  export default {
    name: "Images",
    components: {
      Footer
    },
    data() {
      return {
        slideIndex: 1
      }
    },
    mounted(){
      this.showSlides(this.slideIndex)
    },
    methods:{
      plusSlides(n) {
        this.showSlides(this.slideIndex += n);
      },

      currentSlide(n) {
        this.showSlides(this.slideIndex = n);
      },

      showSlides(n) {
      //JS to switch slides and replace text in bar//
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("description");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {
        this.slideIndex = 1
      }
      if (n < 1) {
        this.slideIndex = slides.length
      }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" opacity-100", "");
      }
      slides[this.slideIndex - 1].style.display = "block";
      dots[this.slideIndex - 1].className += " opacity-100";
      captionText.innerHTML = dots[this.slideIndex - 1].alt;
    }
  },
}
</script>

<style>
/*each image is referenced twice in the HTML, but each image only needs to be updated in the CSS*/
/*.image1 {
  content: url("https://images.unsplash.com/photo-1457530301326-d55420c9898a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")
}

.image2 {
  content: url("https://images.unsplash.com/photo-1457530378978-8bac673b8062?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")
}

.image3 {
  content: url("https://images.unsplash.com/photo-1417533366444-43834ad6b3bb?ixlib=rb-1.2.1&auto=format&fit=crop&w=1054&q=80")
}

.image4 {
  content: url("https://images.unsplash.com/photo-1536974858630-00c1f5b2522a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80")
}

.image5 {
  content: url("https://images.unsplash.com/photo-1457530301326-d55420c9898a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")
}*/
</style>
