<template>
  <div class="">
    <div class="container mx-auto pt-24">
      <div class="flex justify-center px-6 my-12">
        <!-- Row -->
        <div class="w-full md:w-3/4 xl:w-3/4 lg:w-11/12 flex">
          <!-- Col -->
          <div
          class="w-full h-auto bg-gray-400 hidden lg:block lg:w-1/2 bg-cover rounded-l-lg"
          style="background-image: url('plant_welcome.gif');background-position: bottom;"
          ></div>
          <!-- Col -->
          <div class="w-full lg:w-1/2 lg:w-1/2 bg-yellow-100 p-5 rounded-lg lg:rounded-l-none">
            <h3 class="text-green-500 pt-4 text-4xl text-center">Bem vindo! </h3>
            <form class="px-8 pt-6 pb-8 mb-4 bg-yellow-100 rounded">
              <div class="mb-6 text-center">
                <div class="flex flex-wrap items-stretch w-full mb-4 relative">
                  <div class="text-gray-700 mb-10 mt-10">
                    <p> Espero que goste do seu vaso E-C0. <br />Para acessa-lo, insira o código correspondente abaixo.</p>
                  </div>
                  <div class="flex -mr-px">
                    <span class="flex items-center leading-normal bg-green-500 rounded rounded-r-none border border-r-0 border-green-500 px-3 whitespace-no-wrap text-yellow-100 text-md font-bold">Código</span>
                  </div>        
                  <input type="text" v-model="license" class="flex-shrink flex-grow flex-auto leading-normal w-px flex-1 border h-10 border-grey-light px-3 relative" placeholder="Insira o código do seu vaso aqui 🌱 " >  
                </div>    
                <div class="pt-5 pb-5">
                  <router-link to="/wifi">
                    <button class="w-40 px-4 py-2 font-bold text-white bg-green-500 rounded-md hover:bg-green-700 focus:outline-none focus:shadow-outline"
                            type="button">Confirmar</button>
                            <!-- @click="login" -->
                  </router-link>
              </div>
            </div>
            <hr class="w-full border-t borde-green" />
            <div class="text-center pt-5">
              <p
              class="font-bold animate-bounce inline-block text-sm text-yellow-600 align-baseline"
              >
              Psiu!
            </p>
          </div>
          <div class="text-center">
            <p
            class="inline-block text-sm text-green-500 align-baseline"
            >
            O Código está selado no seu vaso.
          </p> 

        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>
</template>

<script>
import axios from 'axios';

  export default {
    name: "License",
    data() {
      return {
        loaded: false,
        license: "",
      }
    },
    methods:{
      // async login() {
      //   try {
      //     const response = await axios.post('/license', {
      //       license: this.license
      //     })
      //     console.log(response)
      //     const { data } = response

      //     // if(){

      //       // this.loggedUser = data
      //       // this.$router.push('/wifi')
      //     // }


      //     this.loaded = true
      //   } catch (e) {
      //     console.error(e)
      //   }
      // }
    }
  }
</script>