<template>
  <div>
    <div v-if="loaded">
      <h1 class="text-3xl text-green-600 flex justify-center my-10">Configurações do vaso <img class=" mx-5 h-10 w-10" src="plant_spark.gif"> </h1>
    </div>

    <div class="flex flex-col justify-center items-center">
      <!-- Information Modal -->
      <div class=" border rounded border-green-300 bg-yellow-100 md:w-1/3 sm:w-full rounded-lg shadow-lg bg-white my-3">
        <div class="flex justify-between border-b border-gray-100 px-5 py-4">
          <div> 
            <h1 class="text-2xl flex justify-center text-green-600">Ativação e desativação</h1>
            <span class="text-xs text-gray-700 flex justify-center">Ligue ou desligue seu E-C0</span>
            <div class="flex justify-center mt-10">
              <div class="flex justify-center">
                <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
                  <input type="checkbox" v-model="enabled" name="enabled" id="toggle" class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer"/>
                  <label for="toggle" class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
                </div>
                <p class="text-sm font-bold text-green-600"> Vaso {{ enabled ? 'ligado' : 'desligado' }} </p>
              </div>
            </div>

            <div class="flex justify-center mt-10 mb-20">
              <div class="mx-20 w-64">
                <h1 class="text-2xl flex justify-center text-green-600">Frequência de irrigação</h1>
                <span class="text-xs text-gray-700 flex justify-center">Altere a quantidade de irrigações realizadas</span>

                <input  class="appearance-none w-full h-1 bg-gray-400 rounded outline-none slider-thumb"
                        min="3" max="90" step="5"
                        type="range"
                        v-model="next_run_in_minutes">

                <div class="flex justify-between mt-2 text-gray-600">
                  <span class="text-xs">Cada {{ next_run_in_minutes }} minutos = {{ Number((24*60)/next_run_in_minutes).toFixed(0) }}x por dia.</span>
                </div>
                <!-- <div class="flex justify-between mt-2 text-xs text-gray-600">
                  <span class="w-2 text-left">1x</span>
                  <span class="w-2 text-center">2x</span>
                  <span class="w-2 text-center">3x</span>
                  <span class="w-2 text-center">4x</span>
                  <span class="w-2 text-right">5x</span>
                </div>
                <div class="bg-gray-300 mt-5 h-2 w-full rounded-full relative">
                  <span class="bg-white h-4 w-4 absolute top-0 -ml-2 -mt-1 z-10 shadow rounded-full" style="left:50%"></span>
                  <span class="bg-green-500 h-2 absolute left-0 top-0 rounded-full" style="width:50%"></span>
                </div> -->

                <h1 class="text-2xl flex justify-center text-green-600">Volume de água</h1>
                <span class="text-xs text-gray-700 flex justify-center">Altere o tempo de duração das irrigações</span>

                <input  class="appearance-none w-full h-1 bg-gray-400 rounded outline-none slider-thumb"
                        min="3" max="15" step="1"
                        type="range"
                        v-model="delay_seconds">
                <div class="flex justify-between mt-2 text-gray-600">
                  <span class="text-xs">Irrigação terá {{ delay_seconds }} segundos de duração.</span>
                </div>
              </div>

            </div>

            <div class="flex justify-center">
              <button class="w-40 px-4 py-2 font-bold text-white bg-green-500 rounded-md hover:bg-green-700 focus:outline-none focus:shadow-outline"
                      @click="saveData"
                      type="button">
              Confirmar
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <Footer />
</div>
</template>

<script>
  import Footer from "@/views/Footer.vue";
  import axios from 'axios';

  export default {
    name: "plantConfig",
    components: {
      Footer
    },
    data() {
      return {
        loaded: false,
        board: {
          bomba: 0,
          humidity: 0,
          manualHumidity: "dry",
          solenoide: 0,
        },
        id: "",
        name: "",
        hostname: "",
        license: "",
        last_ran_at: "",
        next_run_in_minutes: 0,
        delay_seconds: 0,
        enabled: false,
      }
    },
    methods:{
      async fillData() {
      // const payload = {}
      // let token = this.$cookies.get('api_token')

      try {
        const response = await axios.get('/plant/1', 
          // payload, {
          //   // headers: { Authorization: `Bearer ${token}` }
          // }
          )

        const { data } = response
        const { id, name, hostname, license, last_ran_at, next_run_in_minutes, delay_seconds, indicators, board, enabled } = data
        this.id = id
        this.name = name
        this.hostname = hostname
        this.board = board
        this.license = license
        this.last_ran_at = last_ran_at
        this.next_run_in_minutes = next_run_in_minutes
        this.delay_seconds = delay_seconds
        this.enabled = enabled

        this.loaded = true
      } catch (e) {
        console.error(e)
      }
    },
    async saveData() {
      try {
        const payload = {
          delay_seconds: this.delay_seconds,
          next_run_in_minutes: this.next_run_in_minutes,
          enabled: this.enabled,
        }
        const response = await axios.put('/plant/1', payload)

        const { data } = response
        const { id, name, hostname, license, last_ran_at, next_run_in_minutes, delay_seconds, indicators, board, enabled } = data
        this.id = id
        this.name = name
        this.hostname = hostname
        this.board = board
        this.license = license
        this.last_ran_at = last_ran_at
        this.next_run_in_minutes = next_run_in_minutes
        this.delay_seconds = delay_seconds
        this.enabled = enabled

        console.log('updated')
        this.loaded = true
      } catch (e) {
        console.error(e)
      }
    }
  },
  mounted () {
    this.fillData();
  },
}
</script>

<style>
/* CHECKBOX TOGGLE SWITCH */
/* @apply rules for documentation, these do not work as inline style */
.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  border-color: #68D391;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  background-color: #68D391;
}

.slider-thumb::-webkit-slider-thumb {
    @apply appearance-none w-6 h-6 rounded-full bg-green-500 cursor-pointer;
}
  
.slider-thumb::-webkit-slider-thumb:hover {
    @apply bg-green-700;
}
</style>