<template>
  <div class="">
    <div>
      <h1 class="text-3xl text-green-600 flex justify-center my-10">Histórico de Atividades 📑 </h1>
    </div>

    <div class="w-2/3 mx-auto">
      <div class="bg-yellow-100 border border-green-300 shadow-md rounded my-6">
        <table class="text-left w-full border-collapse"> <!--Border collapse doesn't work on this site yet but it's available in newer tailwind versions -->
          <thead>
            <tr>
              <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-green-500 border-b border-green-300">Atividade</th>
              <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-green-500 border-b border-green-300">Situação</th>
            </tr>
          </thead>
          <tbody>

            <tr class="hover:bg-grey-100"
                v-if="loaded"
                v-for="item in items">
              <td class="py-4 px-6 border-b border-green-300 text-gray-700">{{ item.action }}</td>
              <td class="py-4 px-6 border-b border-green-300 text-gray-700">{{ date(item) }}</td>
              <td class="py-4 px-6 border-b border-green-300">
                <a href="#" class="text-white font-bold py-1 px-3 rounded text-xs bg-green-500 hover:bg-green-400 hover:bg-green-600">Detalhes</a>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>


    <Footer />
  </div>

</template>

<script>
  import Footer from "@/views/Footer.vue";
  import axios from 'axios'
  import dayjs from "dayjs"
  import 'dayjs/locale/pt-br'
  dayjs.locale('pt-br')


  export default {
    name: "records",
    components: {
      Footer
    },
    data() {
      return {
        loaded: false,
        items: []
      }
    },
    methods:{
      date(item){
        return dayjs(item.created_at).format("M/D/YYYY h:mm A")
      },
      async fillData() {

      try {
        const response = await axios.get('/records/1')

        const { data } = response
        this.items = data
        
        this.loaded = true
      } catch (e) {
        console.error(e)
      }
    },
  },
  mounted () {
    this.fillData();
  },
}
</script>