<template>
<div class="font-dosis">
  <h1 class="flex justify-center text-green-500 mt-10 text-4xl"> Adicione ou acesse sua planta 🌱  </h1>
<div id="container" class="w-4/5 mx-auto my-48">
    <div class="flex flex-col sm:flex-row">
      <!-- Card 1 -->
      <div class="sm:w-1/4 p-2">
        <div class="bg-yellow-100 px-6 py-8 rounded-lg shadow-lg text-center">
          <div class="mb-3">
            <img
              class="w-auto mx-auto rounded-full"
              src="https://images.unsplash.com/photo-1417533366444-43834ad6b3bb?ixlib=rb-1.2.1&auto=format&fit=crop&w=1054&q=80"
              alt=""
            />
          </div>
          <h2 class="text-xl font-medium text-gray-700">Planta 01</h2>
          <span class="text-green-500 block mb-5">Ativado <span class=" inline-flex rounded-full h-2 w-2 animate-pulse bg-green-500 rounded-full bg-green-600 opacity-75 mx-2"></span></span>

          <a href="/dashboard" class="px-4 py-2 bg-green-500 hover:bg-green-600 text-white rounded-full"
            >Acessar</a>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="sm:w-1/4 p-2">
        <div class="bg-yellow-100 px-6 py-8 rounded-lg shadow-lg text-center">
          <div class="mb-3">
            <img
              class="w-auto mx-auto rounded-full"
              src="https://images.unsplash.com/photo-1457530378978-8bac673b8062?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
              alt=""
            />
          </div>
          <h2 class="text-xl font-medium text-gray-700">Planta 02</h2>
          <span class="text-green-500 block mb-5"> Ativado <span class=" inline-flex rounded-full h-2 w-2 animate-pulse bg-green-500 rounded-full bg-green-600 opacity-75 mx-2"></span> </span>

          <a href="/dashboard" class="px-4 py-2 bg-green-500 hover:bg-green-600 text-white rounded-full"
            >Acessar</a
          >
        </div>
      </div>
        <span class="my-20 mx-20 border border-green-600 rounded-full bg-green-500 h-20 w-20 flex justify-center inline-flex text-5xl text-yellow-100 hover:opacity-75 cursor-pointer pt-1 m-auto  ">
      <router-link to="/">
        +
    </router-link>
      </span>
    </div>


  </div>
</div>
</template>
<script>
  export default {
    name: "SelectVase",
    components: {
    }
  }
</script>