<template>

    <div class="container mx-auto pt-24">
      <div class="flex justify-center px-6 my-12">
        <!-- Row -->
        <div class="w-full md:w-3/4 xl:w-3/4 lg:w-11/12 flex">
          <!-- Col -->
          <div
            class="w-full h-auto bg-gray-400 hidden lg:block lg:w-1/2 bg-cover rounded-l-lg flex"
          >
            <div class="animate-pulse flex justify-center">
              <img class="h-64 w-64 mt-20" src="wireless_green.png">
          </div >
              <div class="flex justify-center"> 
              <img class="h-64 w-60 -mt-20"  src="plant_wifi2.png">
          </div>
          </div>

          <!-- Col -->
          <div class=" w-full lg:w-1/2 lg:w-1/2 bg-yellow-100 p-5 rounded-lg lg:rounded-l-none">
            <form class="px-8 pt-6 pb-8 mb-4 bg-yellow-100 rounded">
              <div class="mb-6 text-center">
         
                <h3 class="text-green-500 pt-4 text-4xl">WiFi </h3>

                <div class="flex justify-center  flex-wrap items-stretch w-full mb-4 relative">
                  <div class="text-gray-700 mb-10 mt-10">
                    <p> Configure o WiFi do seu vaso E-C0</p>
                  </div>

                  <div class="mb-4 relative">
    <input class="input border border-gray-400 appearance-none rounded w-full px-3 py-3 pt-5 pb-2 focus focus:border-green-300 focus:outline-none active:outline-none active:border-green-600" id="wifiName" type="text" autofocus>
    <label for="wifiName" class="label absolute mb-0 -mt-2 pt-4 pl-3 leading-tighter text-gray-500 text-base mt-2 cursor-text">Nome WiFi</label>
</div>
<div class="mb-4 relative ">
    <input class="input border border-gray-400 appearance-none rounded w-full px-3 py-3 pt-5 pb-2 focus focus:border-green-400 focus:outline-none active:outline-none active:border-green-600" id="password" type="password" autofocus>
    <label for="password" class="label absolute mb-0 -mt-2 pt-4 pl-3 leading-tighter text-gray-500 text-base mt-2 cursor-text">Senha WiFi</label>
</div>         
    </div>    
              <div class="pt-5 pb-5">
              <router-link to="/SelectVase">
                <button
                  class="w-40 px-4 py-2 font-bold text-white bg-green-500 rounded-md hover:bg-green-700 focus:outline-none focus:shadow-outline"
                  type="button"
                >
                  Configurar
                </button>
              </router-link>
            </div>
              </div>
              <hr class="w-full border-t borde-green" />
              <div class="text-center pt-5">
                <p
                  class="font-bold animate-bounce inline-block text-sm text-orange-500 align-baseline"
                >
                  Atenção!
                </p>
              </div>
              <div class="text-center">
                <p
                  class="inline-block text-sm text-green-500 align-baseline"
                >
                  Acesse à uma rede de confiança.
                </p> 
                
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
  export default {
    name: 'Wifi',
    data(){
      return {
        showMenu: true
    }
},
}

var toggleInputContainer = function (input) {
    if (input.value != "") {
        input.classList.add('filled');
    } else {
        input.classList.remove('filled');
    }
}

var labels = document.querySelectorAll('.label');
for (var i = 0; i < labels.length; i++) {
    labels[i].addEventListener('click', function () {
        this.previousElementSibling.focus();
    });
}

window.addEventListener("load", function () {
    var inputs = document.getElementsByClassName("input");
    for (var i = 0; i < inputs.length; i++) {
        console.log('looped');
        inputs[i].addEventListener('keyup', function () {
            toggleInputContainer(this);
        });
        toggleInputContainer(inputs[i]);
    }
});

</script>


<style>
.input {
    transition: border 0.2s ease-in-out;
    min-width: 280px
}

.input:focus+.label,
.input:active+.label,
.input.filled+.label {
    font-size: .75rem;
    transition: all 0.2s ease-out;
    top: -0.1rem;
    color: green;
}

.label {
    transition: all 0.2s ease-out;
    top: 0.4rem;
    left: 0;
}
</style> 
