<template>
  <span> 36 %</span>
</template>

<script>
export default {
  name: 'Temperatura',
  props: {
    valor: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">

</style>
