<template>
  <span> {{ valor }} %</span>
</template>

<script>
export default {
  name: 'Umidade',
  props: {
    valor: Number
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">

</style>
