<template>
  <div class="">
    <Header v-if="loggedUser.id && this.$router.currentRoute.fullPath != '/'  && this.$router.currentRoute.fullPath != '/wifi'  && this.$router.currentRoute.fullPath != '/SelectVase' " :loggedUser="loggedUser" />
    <router-view :loggedUser="loggedUser" />
  </div> 
</template>


<script>
  import License from "@/views/License.vue";
  import Wifi from "@/views/Wifi.vue";
  import Dashboard from "@/views/Dashboard.vue";
  import Header from "@/views/Header.vue";
  import axios from 'axios';

  export default {
    name: "app",
    components: {
      License,
      Wifi,
      Dashboard,
      Header,
    },
  data() {
    return {
      loaded: false,
      loggedUser: {
        id: '',
        name: 'Visitante',
        profile_photo_url: 'http://i.pravatar.cc/300'
      },
    }
  },
  methods:{
    async login() {
      try {
        const response = await axios.get('/user/1')

        const { data } = response
        this.loggedUser = data

        this.loaded = true
      } catch (e) {
        console.error(e)
      }
    }
  },
  mounted(){
    this.login()
  }
}
</script>

<!-- <style lang="stylus">
#app
font-family 'Avenir', Helvetica, Arial, sans-serif
-webkit-font-smoothing antialiased
-moz-osx-font-smoothing grayscale
</style> -->
